<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>
<style>

  body{
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
  }
  .about{
  
  cursor: pointer;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 700px;
}
.about h1 {
  padding: 10px 0;
  margin-bottom: 20px;
  
  font-size: 60px;
}
.about h2 {
  opacity: 1;
  font-weight: bold;
}
.about span {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin:auto;
  border-radius:50%;  
  font-size: 40px;
  color: #FFFFFF;
  opacity: 1;
  background-color:  #004d66;
  border: 2px solid  #004d66;

  webkit-transition:all .5s ease;
  moz-transition:all .5s ease;
  os-transition:all .5s ease;
  transition:all .5s ease;

}
.about-item:hover span{
  opacity: 1; 
  border: 2px solid white;
  font-size: 42px;
  -webkit-transform: scale(1.1,1.1) rotate(360deg) ;
  -moz-transform: scale(1.1,1.1) rotate(360deg) ;
  -o-transform: scale(1.1,1.1) rotate(360deg) ;
  transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
  opacity: 1;
  -webkit-transform: scale(1.1,1.1)  ;
  -moz-transform: scale(1.1,1.1)  ;
  -o-transform: scale(1.1,1.1)  ;
  transform: scale(1.1,1.1) ;
}
.about .lead{
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.footer{
  background: #303036;
  color: white;
  height: 150px;
}
.footer .footer-content{
  padding-top: 20px;

}
.footer .footer-content a{
  color: white;
}

</style>

</head>
<body>
<!-- partial:index.partial.html -->
<section class="text-center about">
      <h1>About US</h1>

      <div class="container">
      
      <br>
      <br>
      <br>
      <br>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
            <span class="fa fa-group"></span>
            <h2>Users</h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-info"></span>
            <h2>Info </h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
          </div>
          <div class="clearfix visible-md-block visible-sm-block"></div>
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-bell"></span>
            <h2>What's New?</h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
          </div>
          
        </div>
        
      </div>
    </section>
    <div class="text-center footer">
      <div class="footer-content">
        <h3>Find Us @</h3>
      <p><i class="fa fa-phone"></i>  <a href = "tel:+6382571409">+93825714090</a>  </p>
      <p><i class="fa fa fa-envelope"></i> <a href="mailto:se.chartgeneration@gmail.com">se.chartgeneration@gmail.com</a>  </p>
      </div>
    </div>
<!-- partial -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js'></script>
</body>
</html>