<html>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
     * {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

header {
 
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#darkBack {
  width: 100%;
  height: 100vh;
  background: rgba(76, 56, 75, .15);
}

#popUp {
  position: fixed;
  max-width: 220px;
  height: 225px;
  background: rgba(236, 240, 241, 1);
  border: 7px solid #fff;
  bottom: 0;
  margin-left: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#new span {
  background: #fff;
  position: absolute;
  color: #1c8dc4;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: -5px;
}

#popUp .close {
  color: #464646;
  right: 8px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

#popUp h2 {
  font-size: 17px;
  color: #464646;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

#body {
  height: 1200px;
  background: #eee;
}

a.button {
  margin: 0 auto;
  text-align: center;
  right: 0;
  left: 0;
  position: absolute;
  width: 120px;
  font-size: 15px;
  color: #fff;
  border-bottom: 2px solid #18729f;
  background: #1c8dc4;
  border-radius: 4px;
  padding: 8px 0;
}

#plus {
  position: fixed;
  color: #fff;
  bottom: 15%;
  font-size: 15px;
  margin-left: -425px;
  -webkit-transition: all 1.25s ease;
  -moz-transition: all 1.25s ease;
  -o-transition: all 1.25s ease;
  transition: all 1.25s ease;
  cursor: pointer;
  text-align: left;
  letter-spacing: 1px;
}

#plus span {
  position: absolute;
  margin-top: 38px;
  left: 4px;
}

#plus::after {
  content: '';
  display: block;
  display: relative;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 55px solid #1c8dc4;
}

@media all and (max-width: 900px) {
  #popUp {
    margin-left: -425px;
  }
  #plus {
    margin-left: 0px;
  }
}
      </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    	<script src = "https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
         
        <title>
           Occupancy Chart Generator
        </title>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           <a class="navbar-brand" href="/facultyDashboard"><strong>Occupancy Chart Generator</strong></a>
           
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
	
	<% if(!currentUser){ %>
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <%} else{ %>
            
            <a href="/reportissue"  style="color:#ffffff;margin-left:20px;"> Report Bugs</a>
            <a href="/FAQ"  style="color:#ffffff;margin-left:20px;">FAQ</a>
              <a href="/helpguide"  style="color:#ffffff;margin-left:20px;">Help Guide</a>
            <a href="/suggestions"  style="color:#ffffff;margin-left:20px;">Rate Us</a>
            <a href="/aboutus"  style="color:#ffffff;margin-right:250px;margin-left:20px">About Us</a>
            
            <a href="#"  style="color:#ffffff;margin-left:0px;"><%=currentUser.username%></a>
            <a class="btn btn-info" href="/logout" role="button" style="margin-left:10px">Logout</a>
            
            <% } %>
	
  </div>

        </div>
 </nav>
 
 
             <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:0px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:0px;"><%=success%></div>
<% } %> 

         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        


        <div class="container">
        
        
            
        <div class="row" style="display:flex; flex-wrap:wrap;margin:2px;">
          
          
          <div class="col-lg-4" style="margin-top:30px;margin-left:0px">
                <div class="card" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1623147317/Tabs-bro_ciq6wj.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">View class alloted and the subjects</h5>
                    <p class="card-text">Know about particular class timetable by entering year and section details.</p>
                    <a href="/ViewFacultytimeTable" class="btn btn-info details">View Timetable</a>
                  </div>
                </div>
            </div>
            
            
            <div class="col-lg-4" style="margin-top:30px">
                <div class="card" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img class="card-img-top" src="https://static.thenounproject.com/png/124069-200.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Replace room alloted with another</h5>
                    <p class="card-text">Select the day and date to change the room alloted to the new one from the old one.</p>
                    <a href="/replaceClass" class="btn btn-info generate">Change Room</a>
                  </div>
                </div>
            </div>
            
            
            
            <div class="col-lg-4" style="margin-top:30px">
                <div class="card" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img class="card-img-top" src="https://image.freepik.com/free-vector/flat-design-characters-doing-time-management_23-2148274068.jpg" alt="Card image cap" style="width:276px;height:286px">
                  <div class="card-body">
                    <h5 class="card-title">Change Current Class Timings</h5>
                    <p class="card-text">Change the current timeslots to the time which is comfortable for you to teach.</p>
                    <a href="/changeClassTimings" class="btn btn-info timetable">Change Timeslot</a>
                  </div>
                </div>
            </div>
            
             <div class="col-lg-4" style="margin-top:30px;margin-left:140px">
                <div class="card" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1623063833/Cancel-bro_piwn2p.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Cancel a particular class</h5>
                    <p class="card-text">Cancel a particular period by selecting the cell and Students will be notified about it</p>
                    <a href="/Facultytimetable" class="btn btn-info users">Cancel a period</a>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-4" style="margin-top:30px">
                <div class="card" style="width: 18rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1623147196/Instruction_manual-rafiki_hfecwp.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Faculty Help Guide</h5>
                    <p class="card-text">Know what are the features in the Faculty Dashboard page and how they can help you</p>
                    <a href="/helpguide" class="btn btn-info layout">Help guide</a>
                  </div>
                </div>
            </div>
    
           
   </div>         
    
  </div>    

<footer class="page-footer font-small pt-4" style="background:#343a40;margin-top:80px;padding-bottom:20px;padding-left:40%">

  <div class="container-fluid text-center text-md-left" style="text-align:center">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-light" style="margin-left:2%;padding-left:17%"> Contact Us:</h5>
        
        <br>
		
		 <a href="#" style="color:#ffffff;font-size:18px;margin-left:2%;float:left"><i class="fas fa-envelope fa-sm"></i> se.chartgeneration@gmail.com </a>
		 <br>
	
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      
    </div>

  </div>

</footer>

<script>
  $(document).scroll(function() {
  var scroll = $(this).scrollTop();
  if (scroll >= 150) {
    $("#popUp").css("margin-left", "-425px");
    $("#plus").css("margin-left", "0px");
  }
});

$("#plus").click(function() {
  $("#popUp").css("margin-left", "0px");
  $("#plus").css("margin-left", "-425px");
});

$("#close").click(function() {
  $("#popUp").css("margin-left", "-425px");
  $("#plus").css("margin-left", "0px");
});

</script>

        </body>