<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    	<script src = "https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
         
        <title>
           Occupancy Chart Generator
        </title>
        <body>
          
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           <a class="navbar-brand" href="#"><strong>Occupancy Chart Generator</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
   
  
	
	<% if(!currentUser){ %>
            <a class="btn btn-primary" href="/login" role="button">Login</a>
            <%} else{ %>
            <a href="#"  style="color:#ffffff;margin-right:18px;margin-left:700px"> <%= currentUser.username %></a>
            <a class="btn btn-info" href="/logout" role="button">Logout</a>
            
            <% } %>
	
  </div>

        </div>
 </nav>
 
             <% if(error.length>0){%>
<div class="alert alert-danger container" style="margin-top:0px;"><%=error%></div>
<% }if(success.length>0){%>
<div class="alert alert-success container" style="margin-top:0px;"><%=success%></div>
<% } %> 
         <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        
        <div class = "container" style="margin-top:3%">
<div class="col-lg-11 col-md-7 col-sm-7 col-xs-7">
        <div class = "row my-auto">
<div class="card mx-auto" style="width: 20rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://layout.fm/artwork-spec.png" height= "200"  alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:2%">
  <div class="card-body">
	<a href="/viewLayout" class="btn btn-info btn-sm" style="margin-left:20%">View floor layout Image</a>
  </div>
</div>
</div>

<div class = "row my-auto">
<div class="card mx-auto" style="width: 20rem;margin-top:25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://res.cloudinary.com/duozkjp1p/image/upload/v1617689886/timetable-rubber-stamp-vector-15952572_o6c8sd.jpg" height= "200"  alt="Card image cap" style="padding:5px">
  <hr style="margin-left:10%;margin-right:10%;margin-bottom:2%">
  <div class="card-body">
	<a href="/studentTimetable" class="btn btn-info btn-sm" style="margin-left:28%">View My Timetable</a>
  </div>
</div>
</div>

</div>
</div>

<footer class="page-footer font-small pt-4" style="background:#343a40;margin-top:80px;padding-bottom:20px;padding-left:40%">

  <div class="container-fluid text-center text-md-left" style="text-align:center">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-light" style="margin-left:2%;padding-left:17%"> Contact Us:</h5>
        
        <br>
		
		 <a href="#" style="color:#ffffff;font-size:18px;margin-left:2%;float:left"><i class="fas fa-envelope fa-sm"></i> se.chartgeneration@gmail.com </a>
		 <br>
	
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">
      
    </div>

  </div>

</footer>


        </body>