<!DOCTYPE html>
<html>
    <title>Floor Layout</title>
   
<body>

<a class="btn btn-info back" href="/studentDashboard" role="button" style="Display:None">adminDashboard</a>

<h1 style="text-align:center">Image Layout</h1>
<img src="<%= img.imageURL%>" style="height:100%;width:100%">


</body>
</html>